<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id ='bodyId'>
    <h1><%= title %></h1>
    <!-- D:\rcp\win32-sanlogic-rcp\sanrcpclient.exe 192.168.20.50:10001?192.168.20.73@5900 -->
    <!-- D:\rcp\win32-sanlogic-rcp\sanrcpclient.exe 192.168.20.50:10001?192.168.3.100@5900 -->
    <!-- Sanlogic://"%20192.168.20.50%3a10001%3f192.168.3.100%405900" -->
    <div>
        <a href='Sanlogic://"192.168.20.50:10001?192.168.3.100@5900"'>打开本地应用1(乱码)</a>
    </div>
    <div>
        <a href='Sanlogic://"\u0031\u0039\u0032\u002e\u0031\u0036\u0038\u002e\u0032\u0030\u002e\u0035\u0030\u003a\u0031\u0030\u0030\u0030\u0031\u003f\u0031\u0039\u0032\u002e\u0031\u0036\u0038\u002e\u0033\u002e\u0031\u0030\u0030\u0040\u0035\u0039\u0030\u0030"'>打开本地应用2</a>
    </div>
    <div>
        <a href='Sanlogic://192.168.20.50:10001?192.168.3.100@5900'>打开本地应用3</a>
    </div>
    <div>
        <a href='Sanlogic://"192.168.20.50:10001?192.168.3.100@5900"'>打开本地应用4</a>
    </div>
  </body>
</html>
